

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - kafka-net

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092  
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    depends_on:
      - zookeeper
    networks:
      - kafka-net

  python-app:
    build:
      context: .
      dockerfile: docker/python/Dockerfile
    container_name: python-kafka-app
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092  
    networks:
      - kafka-net  

  scala-app:
    build:
      context: .
      dockerfile: docker/scala/Dockerfile
    container_name: scala-app
    environment:
      KAFKA_BROKER: kafka:9092 
    networks:
      - kafka-net  
  
networks:
  kafka-net:
    driver: bridge
